*{
    margin: 0 auto;
}
main{
    width: 80%;
    height: 600px;
    /* background-color: aqua; */
}
#a, #b, #c {
    width: 29.33%;
    height: 600px;
    float: left;
    text-align: center;
}
#n, #m, #s{
    text-shadow: 5px 5px 15px black;
}

p{padding: 2%;}
h1{ padding: 2%;}
img { padding: 2%;
border: 10px;
border-radius: 20px;}
#c {
    background-color: #F2BC79;
   border: 1px #000000;
    border-radius: 20px ;
    box-shadow: 3px 5px 15px #D9779B;
    margin: 10px;
    padding: 10px;
    border-style: solid;
}
#a{
    background-color: #41AEF2;
   border: 1px #000000;
    border-radius: 20px ;
    box-shadow: 3px 5px 15px #34A6BF;
    margin: 10px;
    padding: 10px;
    border-style: solid;
}
#b{
    background-color: #4F4F99;
     border: 1px #000000;
    border-radius: 20px;
    box-shadow: 3px 5px 15px #7284e9;
    margin: 10px;
    padding: 10px;
    border-style: solid;
}
a {
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}
.btn{
    width: 150px;
    height: 30px;
    /* background-color: #243075; */
    text-align: center;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-top: 15px;
}
body{
     /* background-image: url(https://tcg.pokemon.com/assets/img/me-expansions/mega-evolution/patterns/me01-pattern-black-2x.jpg) */
  background: #485982;
background: radial-gradient(circle, rgba(72, 89, 130, 1) 0%, rgba(46, 184, 250, 1) 24%, rgba(251, 204, 129, 1) 50%, rgb(251, 155, 79) 70%, rgba(79, 91, 160, 1) 87%, rgba(38, 47, 155, 1) 100%);
}
@media only screen and (max-width: 768px) {
    #a, #b, #c{ width: 100%; height: auto;}
    .btn{ margin-bottom: 20px;}
}
